In [1]:
list1=[7,1,2,5,8]

In [2]:
list1.append(12)
list1

[7, 1, 2, 5, 8, 12]

In [3]:
list1.insert(0,15)
list1

[15, 7, 1, 2, 5, 8, 12]

In [4]:
list1.extend([6,10,-3])
list1

[15, 7, 1, 2, 5, 8, 12, 6, 10, -3]

In [5]:
#update

In [7]:
list1[4]=-5

In [8]:
list1

[15, 7, 1, 2, -5, 8, 12, 6, 10, -3]

In [12]:
#removal-- pop() removes last element by default

In [11]:
list1.pop(6)
list1

[15, 7, 1, 2, -5, 8, 6, 10]

In [13]:
#remove()-- removes based on value

In [14]:
list1.remove(-5)
list1

[15, 7, 1, 2, 8, 6, 10]

In [15]:
del list1[4]
list1

[15, 7, 1, 2, 6, 10]

In [16]:
#reverse() -- reverses the list

In [17]:
list1

[15, 7, 1, 2, 6, 10]

In [18]:
list1.reverse()
list1

[10, 6, 2, 1, 7, 15]

In [19]:
list1[::-1]

[15, 7, 1, 2, 6, 10]

In [20]:
#sort()-- sorts/arranges data in ascending order

In [21]:
list1.sort()
list1

[1, 2, 6, 7, 10, 15]

In [25]:
list1.sort(reverse=True)  #descending order
list1

[15, 10, 7, 6, 2, 1]

# Tuple

* It is immutable datastructure. Once you create you cannot change the content of tuple
* All elements in tuple are stored in ()
* We prefer tuple only if we dont want to change data over time

In [2]:
t1=()  #empty tuple
t1

()

In [4]:
type(t1)

tuple

In [6]:
t2=(5,-2,3,6) #tuple of int
t2

(5, -2, 3, 6)

In [8]:
t3=(8,"hi",6.2,True)  #tuple of mixed data
t3

(8, 'hi', 6.2, True)

In [10]:
t2

(5, -2, 3, 6)

In [12]:
t2[-1]

6

In [14]:
t2[0:2]

(5, -2)

In [16]:
t2[1]=7   #Item updation is not supported

TypeError: 'tuple' object does not support item assignment

In [41]:
del t2[1]  #Item deletion is not supported

TypeError: 'tuple' object doesn't support item deletion

In [18]:
del t2

In [20]:
t2

NameError: name 't2' is not defined

In [44]:
#sorting

In [45]:
t4=(5,12,-3,6)

In [47]:
#sorted() will not update original tuple. It returns the sorted tuple in the form of list

In [46]:
sorted(t4)

[-3, 5, 6, 12]

In [48]:
t4

(5, 12, -3, 6)

In [50]:
t4[::-1]  #reverse the tuple

(6, -3, 12, 5)

In [51]:
t4

(5, 12, -3, 6)

In [56]:
#count()
t5=(1,2,1,4,6,1)
t5.count(8)

0

In [53]:
#index()
t5.index(4)

3

# Set

* Set is mutable, unordered collection of elements put inside {}
* Indexing is not supported here
* Duplicates are ignored in sets

In [60]:
s1=set() #empty set
s1

set()

In [61]:
type(s1)

set

In [26]:
s2={5,2,1,5,-1,5,2}
s2

{-1, 1, 2, 5}

In [28]:
s3={True,-1,0.5,"hello",(4,2)}  #Mixed set
print(s3)

{0.5, True, -1, 'hello', (4, 2)}

In [74]:
#Built in functions

In [76]:
s2[4]  #indexing not supported in sets

TypeError: 'set' object is not subscriptable

In [77]:
#add()-- adds a new value in the set

In [30]:
s2

{-1, 1, 2, 5}

In [32]:
s2.add(0.2)
s2

{-1, 0.2, 1, 2, 5}

In [80]:
#update()-- adds multiple elements to set

In [34]:
s2.update((-3,12))
s2

{-3, -1, 0.2, 1, 2, 5, 12}

In [83]:
#remove(value) -- removes based on value

In [38]:
s2.remove(0.2)
s2

{-3, -1, 1, 2, 5, 12}

In [ ]:
#discard(value) -- removes based on value

In [40]:
s2.discard(-1)
s2

{-3, 1, 2, 5, 12}

In [92]:
#clear() -- empties the set

In [42]:
s2.clear()
s2

set()

In [46]:
del s2

In [48]:
s2

NameError: name 's2' is not defined

# Set Operations

In [97]:
#union() -- returns all elements from 2 or more sets
#intersection() -- returns comman elements from sets
#difference()-- returns elements present in first set but not present in second set

In [98]:
A={1,2,3,4,5}
B={4,5,6,7,8}
C={8,9,10}

In [99]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [103]:
A|B

{1, 2, 3, 4, 5, 6, 7, 8}

In [100]:
A.union(B,C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [106]:
A.intersection(B,C)

set()

In [105]:
A&B

{4, 5}

In [108]:
B.difference(C)  #elements which are only present in B, but not in C

{4, 5, 6, 7}

In [109]:
B-C

{4, 5, 6, 7}

In [110]:
A-C

{1, 2, 3, 4, 5}

In [111]:
B

{4, 5, 6, 7, 8}

In [113]:
B_list=list(B)  #typecast of set to list
B_list

[4, 5, 6, 7, 8]

In [114]:
B_set=set(B_list)
B_set

{4, 5, 6, 7, 8}

# Dictionary

* It is mutable data structure where all elements will be in the format of key-value pair
* All elements will be stored inside {}

In [50]:
d1={} #empty dictionary
d1

{}

In [52]:
type(d1)

dict

In [54]:
d2={5:'five',8:'eight',12:'twelve'}  #dict with int keys
d2

{5: 'five', 8: 'eight', 12: 'twelve'}

In [56]:
d3={'name':'john', 'age':20, 'subject':'maths'}  #dict with str keys
d3

{'name': 'john', 'age': 20, 'subject': 'maths'}

In [58]:
d4={'name':'Mike', 'age':25, 'subject':['maths','science','english','history'],'Marks':(45,34,100,68)}
d4

{'name': 'Mike',
 'age': 25,
 'subject': ['maths', 'science', 'english', 'history'],
 'Marks': (45, 34, 100, 68)}

In [60]:
d5={                                               #Nested dictionary
    'student1':{'name':'john', 'age':20},
    'student2':{'name':'mike', 'age':25},
    'student3':{'name':'Tom', 'age':30},
   }
d5

{'student1': {'name': 'john', 'age': 20},
 'student2': {'name': 'mike', 'age': 25},
 'student3': {'name': 'Tom', 'age': 30}}

In [9]:
#To print values we use keys

In [62]:
d2

{5: 'five', 8: 'eight', 12: 'twelve'}

In [64]:
d2[12]

'twelve'

In [12]:
d4

{'name': 'Mike',
 'age': 25,
 'subject': ['maths', 'science', 'english', 'history'],
 'Marks': (45, 34, 100, 68)}

In [66]:
d4['subject'][2]

'english'

In [23]:
d4['Marks'][1]

34

In [24]:
d5

{'student1': {'name': 'john', 'age': 20},
 'student2': {'name': 'mike', 'age': 25},
 'student3': {'name': 'Tom', 'age': 30}}

In [28]:
print(d5['student3']['name'],d5['student2']['age'])

Tom 25

In [27]:
d5['student2']['age']

25

In [30]:
d2.keys()  #prints all keys

dict_keys([5, 8, 12])

In [32]:
d3.values()  #prints all values

dict_values(['john', 20, 'maths'])

In [33]:
d3.items() #prints key-value pairs

dict_items([('name', 'john'), ('age', 20), ('subject', 'maths')])

# Operations on dictionary

In [34]:
d3

{'name': 'john', 'age': 20, 'subject': 'maths'}

In [35]:
#update()-- adds or updates key and value

In [36]:
d3.update({'city':'Mumbai'})
d3

{'name': 'john', 'age': 20, 'subject': 'maths', 'city': 'Mumbai'}

In [37]:
d3.update({'age':25})
d3

{'name': 'john', 'age': 25, 'subject': 'maths', 'city': 'Mumbai'}

In [38]:
#using = operator too we can add or update key and value

In [39]:
d3['marks']=100
d3

{'name': 'john', 'age': 25, 'subject': 'maths', 'city': 'Mumbai', 'marks': 100}

In [40]:
d3['name']='Mike'
d3

{'name': 'Mike', 'age': 25, 'subject': 'maths', 'city': 'Mumbai', 'marks': 100}

In [41]:
#pop(key)--removes key-value pair based on key

In [42]:
d3.pop('subject')
d3

{'name': 'Mike', 'age': 25, 'city': 'Mumbai', 'marks': 100}

In [43]:
#popitem()-- removes last key-value pair

In [44]:
d3.popitem()
d3

{'name': 'Mike', 'age': 25, 'city': 'Mumbai'}

In [45]:
#clear()--deletes all items together

In [46]:
d3.clear()
d3

{}

In [47]:
del d3

In [48]:
d3

NameError: name 'd3' is not defined

In [49]:
d5

{'student1': {'name': 'john', 'age': 20},
 'student2': {'name': 'mike', 'age': 25},
 'student3': {'name': 'Tom', 'age': 30}}

In [50]:
d5['student3'].pop('age')

30

In [51]:
d5

{'student1': {'name': 'john', 'age': 20},
 'student2': {'name': 'mike', 'age': 25},
 'student3': {'name': 'Tom'}}

# Datetime library

In [52]:
#date module

In [68]:
from datetime import date   #from library import module

In [70]:
#create date
date1=date(2020,12,1)  #y,m,d
print(date1)

2020-12-01

In [72]:
date1.isoweekday()  #returns day of week --1:Monday, 2:Tuesaday

2

In [74]:
today1=date.today()   #returns today's date
print(today1)

2025-06-13

In [76]:
today1.isoweekday()

5

In [78]:
today1.day

13

In [80]:
today1.month

6

In [64]:
#time

In [86]:
from datetime import time

In [88]:
time1=time(5,12,40,677681)
print(time1)

05:12:40.677681

In [74]:
time1.microsecond

677681

In [92]:
from datetime import datetime as dt,timedelta as td

In [90]:
current=dt.now() #returns today's date and time
print(current)

NameError: name 'dt' is not defined

In [85]:
current.strftime("%d-%m-%y")

'16-04-25'

In [88]:
from datetime import timedelta as td

In [94]:
#Date after 10000 days

In [91]:
today1

datetime.date(2025, 4, 16)

In [98]:
future_date=today1+td(days=10000)
print(future_date)

2052-09-01

In [99]:
future_date.isoweekday()

7